appdirs==1.4.4
av==10.0.0
beautifulsoup4==4.11.1
bencoder.pyx==3.0.1
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==3.0.1
CT3==3.3.1
dottorrent==1.10.1
future==0.18.3
idna==3.4
imageio-ffmpeg==0.4.8
importlib-metadata==6.0.0
infomedia==1.0.2
inquirerpy==0.3.4
Jinja2==3.1.2
jsonargparse==4.19.0
markdown-it-py==2.1.0
MarkupSafe==2.1.2
mdurl==0.1.2
natsort==8.2.0
numpy==1.24.1
opencv-python==4.7.0.68
parsedatetime==2.6
pfzy==0.3.4
Pillow==9.4.0
prompt-toolkit==3.0.36
psutil==5.9.4
pyee==8.2.2
pygifsicle==1.0.7
Pygments==2.14.0
pymediainfo==6.0.1
pyppeteer==1.0.2
PyYAML==6.0
requests==2.28.2
rich==13.2.0
soupsieve==2.3.2.post1
support-developer==1.0.5
texttable==1.6.7
thumb-gen==3.0.4
tqdm==4.64.1
typing-extensions==4.4.0
urllib3==1.26.14
vcsi==7.0.13
wcwidth==0.2.6
websockets==10.4
xxhash==3.2.0
zipp==3.11.0
