appdirs==1.4.4
beautifulsoup4==4.9.3
bencoder.pyx==2.0.1
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
console-menu==0.6.0
ConsoleMenu==1.0.1
dottorrent==1.10.1
dottorrent-cli==1.10.3
humanfriendly==2.4
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==2.1.1
numpy==1.19.5
Pillow==8.2.0
prompt-toolkit==3.0.18
pyee==8.1.0
pygifsicle==1.0.2
pymediainfo==5.0.3
pyppeteer==0.2.5
requests==2.25.1
simple-term-menu==1.0.0
six==1.15.0
soupsieve==2.2.1
tqdm==4.59.0
urllib3==1.26.4
wcwidth==0.2.5
websockets==8.1
zipp==3.4.1
