appdirs==1.4.4
beautifulsoup4==4.10.0
bencoder.pyx==3.0.0
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
console-menu==0.6.0
dottorrent==1.10.1
dottorrent-cli==1.10.3
humanfriendly==2.4
idna==3.3
imageio==2.13.5
imageio-ffmpeg==0.4.5
importlib-metadata==4.10.0
numpy==1.22.0
Pillow==9.3.0
prompt-toolkit==3.0.24
pyee==8.2.2
pygifsicle==1.0.5
pymediainfo==5.1.0
pyppeteer==0.2.6
PyYAML==6.0
requests==2.27.1
simple-term-menu==1.4.1
six==1.16.0
soupsieve==2.3.1
tqdm==4.62.3
urllib3==1.26.7
wcwidth==0.2.5
websockets==9.1
zipp==3.7.0
